<html>
    <header>
    <style>
        body 
        {
            background-color: black;
            text-align: center;
            vertical-align: middle;
        }
        
        div
        {
            background-color: black;
            height: 100%;
            weight: 100%;
        }
    </style> 
    </header>
    
    <body>
     <div>
        <iframe width="620" height="515" src="https://www.youtube.com/embed/TSXXi2kvl_0?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
        </div>
    </body>
</html>