<html>
    <head>
        
    </head>
    
    <body>
        <h1>Users</h1>
        <ul>
        <% for(var j = 0; j < user.length; j++){
                %> <li><%= user[j].username %>
                        <ul>
                            <li> <%= user[j].u_id %></li>
                            <li> <%= user[j].passwort %></li>
                        </ul>
                    </li> <%
            }
        %>
        </ul>
    </body>
</html>